body {
	background-color: #6C3249;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: left;
}

h1 {
	text-align: left;
	color: white;
	font-family: 'Pacifico', cursive;
	text-align: left;
}

h2 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: white;
}

img {
 	border: 3px solid white;
}

ul {
	color: white;
	font-family: "Open Sans" sans-serif;
}

a{
	color: white;
	font-style: italic;
}

